snmp-server community {{snmp.ro}} RO
snmp-server community {{snmp.rw}} RW 10
snmp-server trap-source loopback1
snmp-server host {{snmp.host}} respirolab
snmp-server location {{snmp.location}}
snmp-server contact {{snmp.contact}}
snmp-server system-shutdown
